{$DOMAIN:localhost} {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		-Server
	}

	request_body {
		max_size 512MB
	}

	reverse_proxy gateway:3000
}
