{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div id="data-pull-list"
			data-owner="{{.Repository.OwnerName}}"
			data-repo="{{.Repository.Name}}">
		</div>
	</div>
</div>
{{template "base/footer" .}}

