{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui segment">
			<div class="text small">{{.DataHubSimpleEyebrow}}</div>
			<h2 class="ui header">{{.DataHubSimpleTitle}}</h2>
			<p>{{.DataHubSimpleBody}}</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}

